.axnavContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: solid orange 3px; */
    justify-content: space-between;
    align-items: center;
    /* margin: 10px 80px 10px 80px; */
    padding: 0 1px 0 15px;
    box-sizing: border-box;
    border-radius: 7px;
    height: 40px;
    background-color: rgb(144, 132, 132);
    /* gap: 30%; */
    width: 100%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    border: 0.5px solid rgb(168, 168, 168);
}
.axnavContainer .axnavLeft, .axnavContainer .axnavRight{
    width: 97%;
}

.axnavLeft {
    /* display: grid; */
    /* grid-area: left; */
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    grid-template: 3fr 1fr;
    /* padding-left: 11px; */
    width: 50%;
    gap: 10px;
    /* padding-top: 2px; */
    /* border: 0.5px solid rgb(168, 168, 168); */
}
.axnav-search {
    flex-grow: 3;
    border: none;
    border-radius: 5px;
    height: 25px;
    max-width: 300px;
}
#search-icon {
    display: flex;
    align-self: center;
    color: white;
    font-weight: bold;
}
#filter-icon {
    display: flex;
    color: rgb(163, 163, 163);
    background-color: white;
    border-radius: 5px;
    height: 21px;
    width: auto;
    align-items: center;
    align-self: center;

}
#filter-icon-container {
    display: flex;
    justify-content: center;
    height: 27px;
    width: 25px;
    background-color: white;
    border-radius: 5px;
}
#sky-icon {
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 10%;
}
.axnavRight {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 10px;
    height: 27px;
}


.axnavButtons {
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    gap: 6px;
    flex-grow: 0.5;
    max-width: 500px;
    /* border: black 2px solid; */

    /* box-sizing: border-box; */
}
.axnavButtons button, #sky-icon {
    /* box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
    border: 0.5px solid rgb(168, 168, 168); */
    height: 27px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: rgb(15, 15, 15);
    width: 100%;
    min-width: 55px;
    box-sizing: border-box;
    border: none;
}
